.dashboard {
  padding: 1.2rem;
  height: 100%;

  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  margin: 0 !important;
}

.dashboard::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.dashboard .header {
  margin-left: 0.5rem;
  font-weight: bolder !important;
}

.dashboard .header .greeting {
  font-size: 40px !important;
  margin-bottom: 0.1rem !important;
}

.dashboard .header .greet-text {
  font-size: 25px !important;
}

.dashboard .overview {
  padding-top: 1.5rem !important;
  margin-left: 0.5rem !important;
}

/* //Total Sales */
.dashboard .overview .total-sales {
  width: 19rem !important;
  height: 19rem !important;
  background-color: #84654d !important;
  border-radius: 1.2rem;
}

.dashboard .overview .total-sales .icon-container {
  background-color: white !important;
  width: 4rem;
  height: 4rem;
  padding: 1rem 0rem 0rem 0rem !important;
  text-align: center;
  border-radius: 1.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: inline-table;
}

.dashboard .overview .total-sales .icon-container .icon {
  color: #84654d !important;
  font-size: 2rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.dashboard .overview .total-sales .text-container .label {
  font-weight: 900;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.dashboard .overview .total-sales .text-container .label2 {
  font-weight: 900;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.dashboard .overview .total-sales .text-container .total-num {
  font-weight: 900;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.dashboard .overview .total-sales .text-container .label3 {
  font-weight: 900;
  color: #d3b781;
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .total-sales .text-container .label4 {
  font-weight: 900;
  color: #d3b781;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .total-sales .text-container .total-num1 {
  font-weight: 900;
  color: #d3b781;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .total-sales .text-container .percent {
  font-weight: 900;
  font-size: 1.3rem;
  padding: .1rem;
  margin-left: 0.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.dashboard .overview .total-sales .text-container .percent .icon {
  font-size: 2rem;
}

/* Cash Discrep */
.dashboard .overview .cash-discrep {
  width: 19rem !important;
  height: 19rem !important;
  background-color: #f1f1f1 !important;
  border-radius: 1.2rem;
  margin-top: 2rem;
}

.dashboard .overview .cash-discrep .icon-container {
  background-color: white !important;
  width: 4rem;
  height: 4rem;
  padding: 1rem 0rem 0rem 0rem !important;
  text-align: center;
  border-radius: 1.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: inline-table;
}

.dashboard .overview .cash-discrep .icon-container .icon {
  color: #84654d !important;
  font-size: 2rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.dashboard .overview .cash-discrep .text-container .label {
  font-weight: 900;
  color: #707070;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.dashboard .overview .cash-discrep .text-container .label2 {
  font-weight: 900;
  color: #707070;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.dashboard .overview .cash-discrep .text-container .total-num {
  font-weight: 900;
  color: #707070;
  font-size: 2rem;
  margin-left: 1rem;
}

.dashboard .overview .cash-discrep .text-container .label3 {
  font-weight: 900;
  color: #b2b2b2;
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .cash-discrep .text-container .label4 {
  font-weight: 900;
  color: #b2b2b2;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .cash-discrep .text-container .total-num1 {
  font-weight: 900;
  color: #b2b2b2;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.dashboard .overview .cash-discrep .text-container .percent {
  font-weight: 900;
  font-size: 1.3rem;
  padding: .1rem;
  margin-left: 0.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.dashboard .overview .cash-discrep .text-container .percent .icon {
  font-size: 2rem;
}

/* Approvals */

.dashboard .overview .approvals {
  width: 40rem !important;
  height: 72rem !important; 
  /* height: 10rem;   */
  background-color: #f4f0e3 !important;
  border-radius: 1.2rem;
}

.dashboard .overview .approvals .container {
  padding: 2rem 2rem 2rem 2rem;
}

.dashboard .overview .approvals .container .label {
  font-size: 1.8rem;
  font-weight: bold;
}

.dashboard .overview .approvals .container .request-container {
  margin-top: 0.5rem;
  width: 40rem;
  height: 66rem;
  overflow: auto;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.dashboard .overview .approvals .container .request-container .request {
  background-color: #ffffff;
  width: 36rem;
  height: 14rem;
  border-radius: 1.2rem;
  margin-top: 2rem;
}
.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .request-label {
  font-size: 1.5rem;
  font-weight: 900;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .request-label1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #646464;
  float: right;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .request-label3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #646464;
  margin-left: 4.5rem;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .details {
  margin-top: 2rem;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .details
  .request-label1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #646464;
  float: right;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .request-label2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #646464;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .reject-button {
  width: 16rem;
  background-color: #cccccc;
  color: #898989;
  border-radius: 0.7rem;
}

.dashboard
  .overview
  .approvals
  .container
  .request-container
  .request
  .content
  .approve-button {
  width: 16rem;
  background-color: #279856;
  color: #ffffff;
  border-radius: 0.7rem;
  float: right;
}



/* Sales Breakdown */

.dashboard .overview .sales-breakdown {
  width: 19rem !important;
  height: 40rem !important;
  background-color: #f1f1f1 !important;
  border-radius: 1.2rem;
}

.dashboard .overview .sales-breakdown .text-container {
  padding: 1rem;
}

.dashboard .overview .sales-breakdown .label {
  font-weight: 900;
  color: #707070;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.dashboard .overview .sales-breakdown .label1 {
  font-weight: 900;
  color: #4c5665;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.dashboard .overview .sales-breakdown .label2 {
  font-weight: 900;
  color: #7c8c9e;
  font-size: 1.2rem;
  float: right;
  margin-right: 1.5rem;
}

.dashboard .overview .sales-breakdown .icon {
  color: #1ad598;
}

.dashboard .overview .sales-breakdown .icon1 {
  color: #f3654a;
}
.dashboard .overview .sales-breakdown .icon2 {
  color: #f9af1a;
}
.dashboard .overview .sales-breakdown .icon3 {
  color: #3fc6e4;
}

/* Historical Sales */

.dashboard .overview .historical-sales {
  width: 40rem !important;
  height: 30rem !important;
  background-color: #f1f1f1 !important;
  border-radius: 1.2rem;
}

.dashboard .overview .historical-sales .content {
  padding-top: 2rem;
}

.dashboard .overview .historical-sales .content .label {
  font-weight: 900;
  color: #707070;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.dashboard .overview .historical-sales .content .chart-button {
  float: right;
  background-color: #f1f1f1;
}

.dashboard .overview .historical-sales .content .chart-button1 {
  float: right;
  background-color: #06152b;
  color: #ffffff;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.dashboard .overview .historical-sales .content .label1 {
  font-weight: 900;
  color: #06152b;
  font-size: 2rem;
  margin-left: 2rem;
}

.dashboard .overview .historical-sales .content .label3 {
  font-weight: 900;
  color: #a0b6c8;
}

.dashboard .overview .historical-sales .content .icon {
  color: #f3654a;
  margin-left: 2rem;
}

.dashboard .overview .historical-sales .content .icon1 {
  color: #f9af1a;
  margin-left: 2rem;
}

.dashboard .overview .historical-sales .content .icon2 {
  color: #3fc6e4;
  margin-left: 2rem;
}

.dashboard .overview .historical-sales .content .area-chart {
  margin-right: 5rem;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}

/* //SaleBreakDown CSS */
.breakdown-details-container{
  height: 13.5rem;
  overflow: auto;
}
