.Box-Center_old {
  /* display: inline-block; */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  
  /* margin-top: 0px; */
  /* max-width: 512px; */
  /* max-width: 100%; */
  width: 100%; 
  height: 100vh;
  margin: auto;  
  /* margin-top: screen.h;   */
  /* border: 1px solid #448AFF; */
  border: 1px solid  #CCCCCC;;
  border-Radius: 3px;
  /* border-radius: 5px; */
  /* box-shadow: 1px 2px 14px #F4AAB9; */
  box-shadow: 0px 4px 8px rgba(244, 170, 185, 0.5); 

  padding: 2px 2px;
  /* z-index: 99999; */
}

.Box-Center {
  /* display: inline-block; */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  
  /* margin-top: 0px; */
  /* max-width: 512px; */
  /* max-width: 100%; */
  width: 100%; 
  height: 100vh;
  margin: auto;  
  /* margin-top: screen.h;   */
  /* border: 1px solid #448AFF; */
  /* border: 1px solid  #CCCCCC; */
  border: none;
  border-Radius: 10px;
  /* border-radius: 5px; */
  /* box-shadow: 1px 2px 14px #F4AAB9; */
  /* box-shadow: 0px 4px 8px rgba(244, 170, 185, 0.5);  */
  background-color: #f1f1f1;

  padding: 2px 2px;
  /* z-index: 99999; */
}

.chrich-HeadTitle-Old {
    text-align: center;
    justify-content: center; 
    align-items: center;  
    font-weight: bold;
    font-size: 25;
    /* margin-top: 1px; */
    margin-bottom: 15px;
    width: 99.8%;
    color: white;
    /* background-color: 'blue'; */
    background-color: #88aaff; 
    border-radius: 4px;
    padding: 5px 3px 8px 5px;
}

.chrich-HeadTitle_old2 {
  text-align: center;
  justify-content: center; 
  align-items: center;  
  font-family: Segoe UI;
  font-weight: 800;
  font-size: 25;
  /* margin-top: 1px; */
  margin-bottom: 15px;
  width: 99.8%;
  /* color: white; */
  color: #8B4513; /* Same brown color */
  /* background-color: 'blue'; */
  /* background-color: #88aaff;  */
  /* border-radius: 4px; */
  padding: 5px 3px 8px 5px;
}

.chrich-HeadTitle {
  text-align: center;
  justify-content: center; 
  align-items: center;  
  font-family: Segoe UI;
  font-weight: 800;
  font-size: 25;
  /* margin-top: 1px; */
  margin-bottom: 15px;
  width: 99.8%;
  /* color: white; */
  /* color: gray;  */
  /* Same brown color */
  color: #806749;
  /* background-color: 'blue'; */
  /* background-color: #88aaff;  */
  /* border-radius: 4px; */
  padding: 5px 3px 8px 5px;
}


.chrich-PopupShield {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  text-align: center;
}

.chrich-Container {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    /* height: 100%; */
    margin: auto;
    margin-top:  '0px';
    background: #fff;
    border-radius: 6px;
    padding: 5px 5px 20px 20px;
    border: 1px solid #999;
    /* background-color: white; */
    overflow: auto;
}


/* .Popup-Box {
  position: 'fixed';
  background: '#00000050';
  margin: 'auto';
  width: '1100px';
  height: '100vh';
  top: '0';
  text-align: 'center';
} */

.chrich-body {
    width: 400px;
    padding: 5px 30px 10px 40px;
    /* background-color: aqua; */
    background-color: rgb(82, 151, 230);
    color: whitesmoke;
    border-radius: 2px;
    border-color: gray;
    text-align: left; 
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1.2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.chrich-left {
    height: 100vh;
    /* height: 100%; */
    width: 50%;
    border-radius: 6px;
    /* border: 2px; */
    /* background-color: darkkhaki; */
    color: black; 
    /* padding: 4px, 4px,4px,4px; */
    float: left;
 }

   
 .chrich-right {
    height: 100%;
    width: 50%;
    border-radius: 6px;
    border: 2px;
    /* background-color: red; */
    /* background-color: darkkhaki; */
    float: right;
 }

.Input-Biteable {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 90%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    transition: all .2s ease;
    margin-left: 10px;
    
 }
    
.Input-Biteable:hover{
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.Input-Biteable:focus{
      background: #fff;
      outline: 0;
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

/* not sure if using */

.chrich-field {
  width: 100%;
  height: 35px;
  padding: 5px 0px 5px 5px;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 0px;
  border-radius: 1px;
  border-color: gray;
  font-size: 1.3rem;
  position: relative;
  /* background-color: rgba(255,255,255,0.3); */
  background-color: rgba(243, 240, 197, 0.3);
  
  transition: 0.4s all;
}
.chrich-field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(137, 133, 133, 0.05);
}

.chrich-custom-input {
  /* position: relative; */
  font-weight: bold;
  /* margin-bottom: 8px; */
  padding: 5px 5px 5px 5px; 
   /* Adjusting padding to make space for the arrow icon  */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* width: 200px; */
  background-color: #fff; 
  /* color:darkblue; */
  /* Remove the background image */
  cursor: pointer;
  outline: none;
}
.chrich-custom-input:focus {
  border-color: #007bff;
}



/* for testing good */
.chrich-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    /* text-align: left;  */
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}



.chrich-custom-select {
  position: relative;
  font-family: 'Roboto';
   /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: bold;
  margin-bottom: 8px;
  padding: 5px 5px 5px 5px; 
   /* Adjusting padding to make space for the arrow icon  */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* width: 200px; */
  background-color: #fff; 
  /* color:darkblue; */
  /* Remove the background image */
  color:#555; 
  cursor: pointer;
  outline: none;
}
.chrich-custom-select:focus {
  /* border-color: #007bff; */
  border-color: gray;
}

.chrich-custom-select-disabled {
  margin-bottom: 8px;
  padding: 5px 5px 5px 5px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination {
  margin-top: 1px;
  text-align: center;
}
.page-item {
  display: inline-block;
  margin: 0 2px;
}
.page-link {
  padding: 5px 5px 3px 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  /* background: linear-gradient(135deg,#fff,#ddd ); */
  color: #333;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  height: '10px';
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.pagination .page-link:hover {
  /* background-color: #007bff; */
  background: linear-gradient(135deg,#007bff,rgb(211, 203, 203));
  color: #fff;
  border-color: #007bff;
}
