/* ========== LOGO CSS s========== */

.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo{
        width: 260px;
    }
}

.logo img{
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 20px;
    font-weight: 800;
    /* color: #262626; */
    color: rebeccapurple;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Inter', sans-serif;
}