@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.login-main {
    --mainColor: #d6d6d6;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
    background: linear-gradient(to right, #DDDDDD, #DBD58C );
    font-weight: 400;
    min-height: 125vh;
    display: grid;
    place-content: center;
    overflow-y: auto;
    zoom: 80%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* GRADIENT COLOR #d2dcff, #a1baff */ 
/* body {
    background: linear-gradient(to right, #DDDDDD, #DBD58C );
    font-weight: 400;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow-y: auto;
} */

.popBarcode {
    z-index: 9999;
}
.login-title {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    color: #333333;
}

span .login-title-x {
    color: #7775d4;
}

.login-wrapper {
    position: relative;
    max-width: 40rem;
    height: 45rem;
    margin: 0 auto;
}

@media(min-width: 350px) {
    .login-wrapper {
        width: 35rem;
    }
}
@media(min-width: 540px) {
    .login-wrapper {
        width: 40rem;
    }
}
@media (max-width: 767px) {
    .login-title {
        display: none; /* Hide the title on screens below 768px width */
    }
}

.login-wrapper .form-container {
    position: absolute;
    margin-top: 20px;
    top: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}

.login-wrapper .form-container.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper .form-container .form h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--titleColor);
}

.login-wrapper .form-container .form .form-group {
    position: relative;
    width: 32rem;
    margin: 2.5rem 0;
}

.login-wrapper .form-container .form .form-group i,
.login-wrapper .form-container .form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

.login-wrapper .form-container .form .form-group i {
    left: .5rem;
}

.login-wrapper .form-container .form .form-group label {
    left: 2.5rem;
}

.login-wrapper .form-container .form .form-group input {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid #8f8f8f;
    font-size: 1.6rem;
    color: var(--labelColor);
    background: transparent;
}

.form .form-group input:focus~label,
.form .form-group input:valid~label,
.form .form-group input:focus~i,
.form .form-group input:valid~i {
    top: 0 !important;
    font-size: 1.2rem !important;
    background-color: var(--whiteColor);
}

.login-wrapper .form-container .form .forgot-pass {
    margin: -1.5rem 0 1.5rem;
    float: right;
}

.login-wrapper .form-container .form .forgot-pass a {
    color: var(--labelColor);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    transform: all .5s ease;
}

.login-wrapper .form-container .form .forgot-pass a:hover {
    color: #7775d4;
}

.login-wrapper .form-container .form .btn {
    background:  #7775d4;
    color: var(--whiteColor);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem rgba(0 0 0 / .4);
}

.login-wrapper .form-container .form .link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--titleColor);
    margin: 2.5rem 0;
}

.login-wrapper .form-container .form .link a {
    text-transform: capitalize;
    color: var(--labelColor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

.login-wrapper .form-container .form .link a:hover {
    color: #7775d4;
}

.login-wrapper .sign-up {
    transform: rotate(7deg);
}

.login-wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

/* Add hover effect to the login button */
.login-wrapper .form-container .form .btn:hover {
    background-color: #9698e9; /* Change background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect on hover */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
  

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.login-wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.login-wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
    
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.login-wrapper.login-wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}


.login-input {
    padding-left: 15px ;
    font-size: 100%;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    box-shadow: inset 0px 0px 20px 0px #888;
    border: none;
    outline: none;
    background-color: white;
}

.login-input:hover {
    background-color: rgb(180, 219, 241);
    color: black;
}
.login-input:focus {
    background-color: white;
    color: black;
}

.second-input {
    padding-top: 10px ;
}