/* OroReportTable.css */

/* Ensure the table is responsive */
.table-responsive {
    overflow-x: auto;
}

/* Center align the table */
.table-container {
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
}

/* Set column width to 100% */
.table.table-bordered {
    width: 90%;
}

/* Adjust table header and body cells */
.table thead th,
.table tbody td {
    white-space: nowrap; /* Prevent text wrapping */
}

/* Additional styling for the print button */
.print-button {
    
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.3rem;
}

/* Additional styling for the table */
.table {
    border-collapse: collapse;
    width: 90%;
}

/* Style table headers */


/* Style alternate rows */
.table tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Adjust background color as needed */
}

@media print {
    .table-container {
        margin: 8mm;
    }

    .table-title {
        margin: 14mm;
    }

    .table-subtitle {
        margin: 14mm;
    }

    .print-button1 {
        display: none;
    }

    @page {
        size: landscape;
    }
}
